@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

h2,
h3,
h4,
h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  margin: 3rem 0 1rem 0;
}

body {
  background-color: #f8f9fa;
}

.previous > a,
.next > a,
table,
tr {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* Basic Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table Headers */
thead th {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

/* Table Body Rows */
tbody tr {
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Table Cells */
td,
th {
  padding: 10px;
  text-align: left;
}

/* Highlight specific cell */
td.important {
  color: #e53935;
  font-weight: bold;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

/* .body-content {
  max-width: 1080px !important;
  margin: 0 auto;
} */

p,
li {
  font-style: normal;
  color: #535353;
}

p,
li:not(.nav-item) {
  font-size: 20px;
  font-family: "PT Serif", serif;
  line-height: 1.8;
  margin-bottom: 0.6rem;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h4,
h5,
h6 {
  font-weight: 600;
} */

blockquote {
  border-left: 10px solid #007bff;
  padding-left: 2rem;
  margin-left: 2rem;
}

blockquote p {
  font-style: italic;
  line-height: 1.6;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #aaa, transparent);
  margin: 20px 0;
  opacity: 0.6;
}

footer#footer {
  text-align: center;
  padding: 2rem 0;
}

div.code {
  margin: 0;
}

div.code > pre {
  padding: 1rem 2rem;
  margin: 0;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
}

.article-summary {
  font-style: italic;
  margin: 0 2rem;
}

p > img:only-child {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  border-radius: 8px; /* Soft rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

p > img:hover {
  transform: scale(1.02); /* Slight zoom on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}
