@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@1,7..72,200..900&family=Manrope:wght@200..800&display=swap");

/* Global Font and Body Styles */
body,
h1,
h2,
h3,
h4,
h5,
.previous > a,
.next > a,
table,
tr {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  background-color: #f8f9fa;
}

body {
  font-weight: 400;
}

.body-content {
  min-height: calc(100vh - 250px);
}

h2,
h3,
h4,
h5 {
  margin: 3rem 0 1rem 0;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead th {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  text-align: left;
}

tbody tr {
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td,
th {
  padding: 10px;
  text-align: left;
}

td.important {
  color: #e53935;
  font-weight: bold;
}

/* Text and Typography Styles */
p,
li {
  color: #535353;
  font-size: 1em;
  line-height: 1.7;
  margin-bottom: 16px;
}

blockquote {
  border-left: 10px solid #007bff;
  padding-left: 2rem;
  margin-left: 2rem;
}

blockquote p {
  font-family: "PT Serif", serif !important;
  color: #777;
  font-style: italic;
  line-height: 1.5;
  font-size: 0.9em;
}

em {
  font-family: "Literata", serif;
  font-size: 1.2em;
}

.entry-title {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-style: italic;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #aaa, transparent);
  margin: 20px 0;
  opacity: 0.6;
}

/* Code Block Styling */
div.code {
  margin: 0;
}

div.code > pre {
  padding: 1rem 2rem;
  margin: 0;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
}

/* Article Summary */
.article-summary {
  font-style: italic;
  margin: 0 2rem;
}

/* Image Styling */
p > img:only-child {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

p > img:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Navbar List Items */
.navbar li {
  margin: 0;
  padding: 0;
}

#footer {
  display: none;
}

.footer-background {
  background-color: #e6f2ff;
}

.social-link {
  padding: 0.5em;
  border: 1px solid #535353;
  border-radius: 1em;
  color: #535353;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social-link i {
  font-size: 1.5em;
  margin-right: 0.3em;
}

.social-link:hover {
  color: #007bff;
  border-color: #007bff;
  text-decoration: none;
}
